<body class="with-side-menu">
	{{> navbar }}
	<div class="mobile-menu-left-overlay-"></div>
	{{> nav }}
	<div class="page-content">
		<div class="container-fluid">
			<header class="section-header">
				<div class="tbl">
					<div class="tbl-row">
						<div class="tbl-cell">
							<h3>Ciclos</h3>
							<ol class="breadcrumb breadcrumb-simple">
								<li><a href="/home">Inicio</a></li>
								<li class="active">Nuevo</li>
							</ol>
						</div>
                    </div>    
				</div>
				<style>
					.ver {
						visibility: visible !important;
						opacity: 1 !important;
					}
					.add-margin {
						margin-right: 10px; /* Ajusta el valor según el espacio que desees entre los botones */
					}
				</style>
			</header>
			<div class="box-typical box-typical-padding">
				<button class="btn btn-success float-right" id="crear" disabled="true">Crear</button>
				<button class="btn btn-danger float-right add-margin" id="borrar">Borrar</button>
				<h5 class="m-t-lg with-border">Nuevo ciclo</h5>
				<div class="row">
					<div class="form-group col-md-3 col-sm-6" id="nomciclo">
						<label class="form-label" for="nombre">Nombre de ciclo:</label>
						<br>
						<input type="text" class="form-control" id="nombre" placeholder="Asigne un nombre al ciclo">
					</div>
					<div class="form-group col-md-3 col-sm-6" style="display: flex; flex-direction: column;" id="ttarea">
						<label class="form-label">Seleccione el o los tipos de tarea:</label>
						<br>
						{{#each tareas}}
						<div class="checkbox-bird green ttarea-checkbox">
							<input type="checkbox" id="radio-{{Id}}" value="{{Id}}" class="ttarea-checkbox">
							<label for="radio-{{Id}}">{{Descripcion}} - {{Abreviacion}}</label>
						</div>
						{{/each}}
					</div>
					<div class="form-group col-md-2 col-sm-6" id="periodo">
						<label class="form-label">Seleccione periodicidad:</label>
						<br>
						<div class="checkbox-bird orange">
							<input type="checkbox" class="periodicidad-checkbox" id="diario" value="1" disabled="true">
							<label for="diario">Diario</label>
						</div>
						<div class="checkbox-bird orange">
							<input type="checkbox" class="periodicidad-checkbox" id="semanal" value="2" disabled="true">
							<label for="semanal">Semanal</label>
						</div>
						<div class="checkbox-bird orange">
							<input type="checkbox" class="periodicidad-checkbox" id="mensual" value="3" disabled="true">
							<label for="mensual">Mensual</label>
						</div>
						<div class="checkbox-bird orange">
							<input type="checkbox" class="periodicidad-checkbox" id="anual" value="4" disabled="true">
							<label for="anual">Anual</label>
						</div>
					</div>
					<div class="form-group col-md-2 col-sm-6" id="perdia" style="display: none;">
						<label class="form-label">Seleccione ciclo:</label>
						<br>
						<div class="checkbox-bird">
							<input type="checkbox" id="cdiario" value="1">
							<label for="cdiario">Todos los días</label>
						</div>
						<div class="checkbox-bird" style="display: inline-block;">
							<input type="checkbox" id="cdiarion" value="2" style="display: inline-block; z-index: 1;">
							<label for="cdiarion" style="display: inline-block;">
								Cada &nbsp;
								<input class="form-control form-control-sm ml-2 ver" id="ndia" type="number" min="1" max="365" style="width: 60px; display: inline-block; z-index: 1;"> 
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							días
						</div>
					</div>
					<div class="form-group col-md-2 col-sm-6" id="persemana" style="display: none;">
						<label class="form-label">Seleccione ciclo:</label>
						<br>
						<div class="checkbox-bird">
							<input type="checkbox" id="csemana" value="3">
							<label for="csemana">Todos las semanas</label>
						</div>
						<div class="checkbox-bird" style="display: inline-block;">
							<input type="checkbox" id="csemanan" value="4" style="display: inline-block; z-index: 1;">
							<label for="csemanan" style="display: inline-block;">
								Cada &nbsp;
								<input class="form-control form-control-sm ml-2 ver" id="nsem" type="number" min="1" max="365" style="width: 60px; display: inline-block; z-index: 1;"> 
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							semanas
						</div>
					</div>
					<div class="form-group col-md-2 col-sm-6" id="permes" style="display: none;">
						<label class="form-label">Seleccione ciclo:</label>
						<br>
						<div class="checkbox-bird">
							<input type="checkbox" id="cmes" value="5">
							<label for="cmes">Todos los meses</label>
						</div>
						<div class="checkbox-bird" style="display: inline-block;">
							<input type="checkbox" id="cmesn" value="6" style="display: inline-block; z-index: 1;">
							<label for="cmesn" style="display: inline-block;">
								Cada &nbsp;
								<input class="form-control form-control-sm ml-2 ver" id="nmes" type="number" min="1" max="365" style="width: 60px; display: inline-block; z-index: 1;"> 
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							meses
						</div>
					</div>
					<div class="form-group col-md-2 col-sm-6" id="perano" style="display: none;">
						<label class="form-label">Seleccione ciclo:</label>
						<br>
						<div class="checkbox-bird">
							<input type="checkbox" id="cano" value="7">
							<label for="cano">Todos los años</label>
						</div>
					</div>
					<div class="form-group col-md-2 col-sm-6" id="mantenciondia" style="display: none;">
						<label class="form-label">Mantención:</label>
						<br>
						<div class="checkbox-bird" style="display: inline-block;">
							<input type="checkbox" id="mandia" value="6" style="display: inline-block; z-index: 1;">
							<label for="mandia" style="display: inline-block;">
								Cada &nbsp;
								<input class="form-control form-control-sm ml-2 ver" id="mdia" type="number" min="1" max="365" style="width: 60px; display: inline-block; z-index: 1;"> 
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							días
						</div>
					</div>
					<div class="form-group col-md-2 col-sm-6" id="mantencionsemana" style="display: none;">
						<label class="form-label">Mantención:</label>
						<br>
						<div class="checkbox-bird" style="display: inline-block;">
							<input type="checkbox" id="mansemana" value="6" style="display: inline-block; z-index: 1;">
							<label for="mansemana" style="display: inline-block;">
								Cada &nbsp;
								<input class="form-control form-control-sm ml-2 ver" id="msemana" type="number" min="1" max="365" style="width: 60px; display: inline-block; z-index: 1;"> 
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							semanas
						</div>
					</div>
					<div class="form-group col-md-2 col-sm-6" id="mantencionmes" style="display: none;">
						<label class="form-label">Mantención:</label>
						<br>
						<div class="checkbox-bird" style="display: inline-block;">
							<input type="checkbox" id="manmes" value="6" style="display: inline-block; z-index: 1;">
							<label for="manmes" style="display: inline-block;">
								Cada &nbsp;
								<input class="form-control form-control-sm ml-2 ver" id="mmes" type="number" min="1" max="365" style="width: 60px; display: inline-block; z-index: 1;"> 
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							meses
						</div>
					</div>
					<div class="form-group col-md-2 col-sm-6" id="mantencionano" style="display: none;">
						<label class="form-label">Mantención:</label>
						<br>
						<div class="checkbox-bird" style="display: inline-block;">
							<input type="checkbox" id="manano" value="6" style="display: inline-block; z-index: 1;">
							<label for="manano" style="display: inline-block;">
								Cada &nbsp;
								<input class="form-control form-control-sm ml-2 ver" id="mano" type="number" min="1" max="365" style="width: 60px; display: inline-block; z-index: 1;"> 
							</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							años
						</div>
					</div>
				</div>	
			</div>
		</div>	
	</div>
	<script src="/js/lib/jquery/jquery.min.js"></script>
	<script src="/js/lib/tether/tether.min.js"></script>
	<script src="/js/lib/bootstrap/bootstrap.min.js"></script>
	<script src="/js/plugins.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/lib/datatables-net/datatables.min.js"></script>
	<script src="/js/lib/bootstrap-sweetalert/sweetalert.min.js"></script>
	<script src="/js/lib/summernote/summernote.min.js"></script>
	<script src="/js/lib/fancybox/jquery.fancybox.pack.js"></script>
	<script src="/js/summernote-ES.js"></script>
	<script src="/js/lib/select2/select2.full.min.js"></script>
	<script src="/ciclos.js"></script>
</body>	