<body class="with-side-menu">
	{{> navbar }}
	<div class="mobile-menu-left-overlay-"></div>
	{{> nav }}
	<div class="page-content">
		<div class="container-fluid">
			<header class="section-header">
				<div class="tbl">
					<div class="tbl-row">
						<div class="tbl-cell">
							<h3>Tareas Aprobadas</h3>
							<ol class="breadcrumb breadcrumb-simple">
								<li><a href="/home">Inicio</a></li>
								<li class="active">Tareas Aprobadas</li>
							</ol>
						</div>
						<div class="form-group float-right">
                            <button type="button" class="btn btn-rounded btn-warning" id="pdfs" name="pdfs" hidden="true" ><i class="fa fa-file-pdf-o"></i></button>
							<button type="button" class="btn btn-rounded btn-warning" id="pdfs1" name="pdfs1" hidden="true" ><i class="fa fa-file-pdf-o"></i></button>
						</div>
					</div>
				</div>
						<style>
						.miClase {
							font-family: Verdana, Geneva, Tahoma, sans-serif;
							font-size: 12px; /* Cambia el tamaño de la fuente a 14px */
						}
						.dataTables_filter {
							float: left;
						}
						.dt-buttons {
							float: right;
						}
					</style>
			</header>
			<div class="box-typical box-typical-padding">
				<div class="row">
					{{#ifEquals user.Id_Perfil "6"}}
					<form action="aprobadas" method="post" return="false">
					{{/ifEquals }}
					{{#ifEquals user.Id_Perfil "2"}}
					<form action="aprobadasp" method="post" return="false">
					{{/ifEquals }}
					{{#ifEquals user.Id_Perfil "9"}}
					<form action="aprobadasp" method="post" return="false">
					{{/ifEquals }}
					{{#ifEquals user.Id_Perfil "5"}}
					<form action="aprobadasb" method="post" return="false">
					{{/ifEquals }}
					{{#ifEquals user.Id_Perfil "10"}}
					<form action="aprobadasb" method="post" return="false">
					{{/ifEquals }}
					{{#ifEquals user.Id_Perfil "4"}}
					<form action="aprobadasa" method="post" return="false">
					{{/ifEquals }}
					{{#ifEquals user.Id_Perfil "7"}}
					<form action="aprobadasd" method="post" return="false">
					{{/ifEquals }}
					{{#ifEquals user.Id_Perfil "8"}}
					<form action="aprobadase" method="post" return="false">
					{{/ifEquals }}
						<div class="col-md-3">
							<label class="form-label" for="date1">Fecha Inicial</label>
							<input class="form-control" type="date" name="date1" id="date1">
						</div>
						<div class="col-md-3">
							<label class="form-label" for="date2">Fecha Final</label>
							<input class="form-control" type="date" name="date2" id="date2">
						</div>
						<div class="col-md-3">
							<label class="form-label" id="buscar">Buscar una Tarea</label>
							<input class="form-control" id="tarea" name="tarea" placeholder="Ingrese un ID de Tarea">
						</div>
						<div class="col-md-3">
							<label class="form-label" id="buscar" style="color: aliceblue;">.</label>
							<button type="submit" name="buscar" id="buscar" class="btn btn-rounded btn-primary  float-rigth" return="false">Filtrar</button>
						</div>
						<div class="col-md-12 col-xs-12" >
							<h5 class="m-t-lg with-border"><strong></strong></h5>
						</div>
				</div>
					{{#if title }}
						<div class="alert alert-danger" role="alert">
							{{ title }}
						</div>
					{{/if}}
					<br>
					<table id="tabla_prot" class="table table-bordered table-striped table-vcenter js-dataTable-full">
					{{#ifEquals user.Id_Perfil "2" }}		
						<thead>
							<tr>
								<th title="Seleccionar todo"></th>
								<th>Tarea</th>
								<th>Fecha</th>
								<th>Estado de tarea</th>
								<th>Tipo de servicio</th>
								<th>Tag</th>
								<th>Gerencia</th>
								<th>Area</th>
								<th>Sector</th>
								<th>Detalle de ubicación</th>
								<th>Ubicación técnica</th>
								<th>Estado equipo</th>
								<th>Observación estado</th>
								<th>Repuestos</th>
								<th>Observaciones</th>
								<th>Ver</th>
							</tr>
						</thead>
						<tbody>
							{{#each aprob}}
							<tr>
								<td>{{TAREA}}</td>
								<td>{{TAREA}}</td>
								<td>{{FECHA}}</td>
								<td>{{ESTADO_TAREA}}</td>
								<td>{{SERVICIO}}</td>
								<td>{{CODIGO}}</td>
								<td>{{GERENCIA}}</td>
								<td>{{AREA}}</td>
								<td>{{SECTOR}}</td>
								<td>{{DETALLE}}</td>
								<td>{{TECNICA}}</td>
								<td>{{ESTADO_EQUIPO}}</td>
								<td>{{OBS_EQUIPO}}</td>
								<td>{{REPUESTOS}}</td>
								<td>{{OBS}}</td>
								<td><center><a href="/protocolo/{{ TAREA }}" class="btn btn-inline btn-primary btn-sm ladda-button" target="_blank"><i class="fa fa-file-archive-o"></i></a></center></td>						
								</tr>
							{{/each}}

						</tbody>
					{{/ifEquals}}
					{{#ifEquals user.Id_Perfil "9" }}		
						<thead>
							<tr>
								<th title="Seleccionar todo"></th>
								<th>Tarea</th>
								<th>Fecha</th>
								<th>Estado de tarea</th>
								<th>Tipo de servicio</th>
								<th>Tag</th>
								<th>Gerencia</th>
								<th>Area</th>
								<th>Sector</th>
								<th>Detalle de ubicación</th>
								<th>Ubicación técnica</th>
								<th>Estado equipo</th>
								<th>Observación estado</th>
								<th>Repuestos</th>
								<th>Observaciones</th>
								<th>Ver</th>
							</tr>
						</thead>
						<tbody>
							{{#each aprob}}
							<tr>
								<td>{{TAREA}}</td>
								<td>{{TAREA}}</td>
								<td>{{FECHA}}</td>
								<td>{{ESTADO_TAREA}}</td>
								<td>{{SERVICIO}}</td>
								<td>{{CODIGO}}</td>
								<td>{{GERENCIA}}</td>
								<td>{{AREA}}</td>
								<td>{{SECTOR}}</td>
								<td>{{DETALLE}}</td>
								<td>{{TECNICA}}</td>
								<td>{{ESTADO_EQUIPO}}</td>
								<td>{{OBS_EQUIPO}}</td>
								<td>{{REPUESTOS}}</td>
								<td>{{OBS}}</td>
								<td><center><a href="/protocolo/{{ TAREA }}" class="btn btn-inline btn-primary btn-sm ladda-button" target="_blank"><i class="fa fa-file-archive-o"></i></a></center></td>						
								</tr>
							{{/each}}

						</tbody>
					{{/ifEquals}}
					{{#ifEquals user.Id_Perfil "6" }}		
						<thead>
							<tr>
								<th title="Seleccionar todo"></th>
								<th>Tarea</th>
								<th>Fecha</th>
								<th>Estado de tarea</th>
								<th>Tipo de servicio</th>
								<th>Tag</th>
								<th>Gerencia</th>
								<th>Area</th>
								<th>Sector</th>
								<th>Detalle de ubicación</th>
								<th>Ubicación técnica</th>
								<th>Estado equipo</th>
								<th>Observación estado</th>
								<th>Repuestos</th>
								<th>Observaciones</th>
								<th>Ver</th>
							</tr>
						</thead>
						<tbody>
							{{#each aprob}}
							<tr>
								<td>{{TAREA}}</td>
								<td>{{TAREA}}</td>
								<td>{{FECHA}}</td>
								<td>{{ESTADO_TAREA}}</td>
								<td>{{SERVICIO}}</td>
								<td>{{CODIGO}}</td>
								<td>{{GERENCIA}}</td>
								<td>{{AREA}}</td>
								<td>{{SECTOR}}</td>
								<td>{{DETALLE}}</td>
								<td>{{TECNICA}}</td>
								<td>{{ESTADO_EQUIPO}}</td>
								<td>{{OBS_EQUIPO}}</td>
								<td>{{REPUESTOS}}</td>
								<td>{{OBS}}</td>
								<td><center><a href="/protocoloc/{{ TAREA }}" class="btn btn-inline btn-primary btn-sm ladda-button" target="_blank"><i class="fa fa-file-archive-o"></i></a></center></td>						
								</tr>
							{{/each}}

						</tbody>
					{{/ifEquals}}
					{{#ifEquals user.Id_Perfil "10" }}	
						<thead>
							<tr>
								<th title="Seleccionar todo"></th>
								<th>Tarea</th>
								<th>Fecha</th>
								<th>Estado de tarea</th>
								<th>Tipo de servicio</th>
								<th>Tag</th>
								<th>Gerencia</th>
								<th>Area</th>
								<th>Sector</th>
								<th>Detalle de ubicación</th>
								<th>Ubicación técnica</th>
								<th>Estado equipo</th>
								<th>Observación estado</th>
								<th>Repuestos</th>
								<th>Observaciones</th>
								<th>Ver</th>
							</tr>
						</thead>
						<tbody>
							{{#each aprob}}
							<tr>
								<td>{{TAREA}}</td>
								<td>{{TAREA}}</td>
								<td>{{FECHA}}</td>
								<td>{{ESTADO_TAREA}}</td>
								<td>{{SERVICIO}}</td>
								<td>{{CODIGO}}</td>
								<td>{{GERENCIA}}</td>
								<td>{{AREA}}</td>
								<td>{{SECTOR}}</td>
								<td>{{DETALLE}}</td>
								<td>{{TECNICA}}</td>
								<td>{{ESTADO_EQUIPO}}</td>
								<td>{{OBS_EQUIPO}}</td>
								<td>{{REPUESTOS}}</td>
								<td>{{OBS}}</td>
								<td><center><a href="/protocolob/{{ TAREA }}" class="btn btn-inline btn-primary btn-sm ladda-button" target="_blank"><i class="fa fa-file-archive-o"></i></a></center></td>						
								</tr>
							{{/each}}

						</tbody>
					{{/ifEquals}}
					{{#ifEquals user.Id_Perfil "5" }}	
						<thead>
							<tr>
								<th title="Seleccionar todo"></th>
								<th>Tarea</th>
								<th>Fecha</th>
								<th>Estado de tarea</th>
								<th>Tipo de servicio</th>
								<th>Tag</th>
								<th>Gerencia</th>
								<th>Area</th>
								<th>Sector</th>
								<th>Detalle de ubicación</th>
								<th>Ubicación técnica</th>
								<th>Estado equipo</th>
								<th>Observación estado</th>
								<th>Repuestos</th>
								<th>Observaciones</th>
								<th>Ver</th>
							</tr>
						</thead>
						<tbody>
							{{#each aprob}}
							<tr>
								<td>{{TAREA}}</td>
								<td>{{TAREA}}</td>
								<td>{{FECHA}}</td>
								<td>{{ESTADO_TAREA}}</td>
								<td>{{SERVICIO}}</td>
								<td>{{CODIGO}}</td>
								<td>{{GERENCIA}}</td>
								<td>{{AREA}}</td>
								<td>{{SECTOR}}</td>
								<td>{{DETALLE}}</td>
								<td>{{TECNICA}}</td>
								<td>{{ESTADO_EQUIPO}}</td>
								<td>{{OBS_EQUIPO}}</td>
								<td>{{REPUESTOS}}</td>
								<td>{{OBS}}</td>
								<td><center><a href="/protocolob/{{ TAREA }}" class="btn btn-inline btn-primary btn-sm ladda-button" target="_blank"><i class="fa fa-file-archive-o"></i></a></center></td>						
								</tr>
							{{/each}}

						</tbody>
					{{/ifEquals}}
					{{#ifEquals user.Id_Perfil "4" }}		
						<thead>
							<tr>
								<th title="Seleccionar todo"></th>
								<th>Tarea</th>
								<th>Fecha</th>
								<th>Estado de tarea</th>
								<th>Tipo de servicio</th>
								<th>Tag</th>
								<th>Gerencia</th>
								<th>Area</th>
								<th>Sector</th>
								<th>Detalle de ubicación</th>
								<th>Ubicación técnica</th>
								<th>Estado equipo</th>
								<th>Observación estado</th>
								<th>Repuestos</th>
								<th>Observaciones</th>
								<th>Ver</th>
							</tr>
						</thead>
						<tbody>
							{{#each aprob}}
							<tr>
								<td>{{TAREA}}</td>
								<td>{{TAREA}}</td>
								<td>{{FECHA}}</td>
								<td>{{ESTADO_TAREA}}</td>
								<td>{{SERVICIO}}</td>
								<td>{{CODIGO}}</td>
								<td>{{GERENCIA}}</td>
								<td>{{AREA}}</td>
								<td>{{SECTOR}}</td>
								<td>{{DETALLE}}</td>
								<td>{{TECNICA}}</td>
								<td>{{ESTADO_EQUIPO}}</td>
								<td>{{OBS_EQUIPO}}</td>
								<td>{{REPUESTOS}}</td>
								<td>{{OBS}}</td>
								<td><center><a href="/protocoloa/{{ TAREA }}" class="btn btn-inline btn-primary btn-sm ladda-button" target="_blank"><i class="fa fa-file-archive-o"></a></center></td>						
								</tr>
							{{/each}}

						</tbody>
					{{/ifEquals}}
					{{#ifEquals user.Id_Perfil "7" }}		
						<thead>
							<tr>
								<th title="Seleccionar todo"></th>
								<th>Tarea</th>
								<th>Fecha</th>
								<th>Estado de tarea</th>
								<th>Tipo de servicio</th>
								<th>Tag</th>
								<th>Gerencia</th>
								<th>Area</th>
								<th>Sector</th>
								<th>Detalle de ubicación</th>
								<th>Ubicación técnica</th>
								<th>Estado equipo</th>
								<th>Observación estado</th>
								<th>Repuestos</th>
								<th>Observaciones</th>
								<th>Ver</th>
							</tr>
						</thead>
						<tbody>
							{{#each aprob}}
							<tr>
								<td>{{TAREA}}</td>
								<td>{{TAREA}}</td>
								<td>{{FECHA}}</td>
								<td>{{ESTADO_TAREA}}</td>
								<td>{{SERVICIO}}</td>
								<td>{{CODIGO}}</td>
								<td>{{GERENCIA}}</td>
								<td>{{AREA}}</td>
								<td>{{SECTOR}}</td>
								<td>{{DETALLE}}</td>
								<td>{{TECNICA}}</td>
								<td>{{ESTADO_EQUIPO}}</td>
								<td>{{OBS_EQUIPO}}</td>
								<td>{{REPUESTOS}}</td>
								<td>{{OBS}}</td>
								<td><center><a href="/protocolod/{{TAREA }}" class="btn btn-inline btn-primary btn-sm ladda-button" target="_blank"><i class="fa fa-file-archive-o"></i></a></center></td>						
								</tr>
							{{/each}}

						</tbody>
					{{/ifEquals}}
					{{#ifEquals user.Id_Perfil "8" }}	
						<thead>
							<tr>
								<th title="Seleccionar todo"></th>
								<th>Tarea</th>
								<th>Fecha</th>
								<th>Estado de tarea</th>
								<th>Tipo de servicio</th>
								<th>Tag</th>
								<th>Gerencia</th>
								<th>Area</th>
								<th>Sector</th>
								<th>Detalle de ubicación</th>
								<th>Ubicación técnica</th>
								<th>Estado equipo</th>
								<th>Observación estado</th>
								<th>Repuestos</th>
								<th>Observaciones</th>
								<th>Ver</th>
							</tr>
						</thead>
						<tbody>
							{{#each aprob}}
							<tr>
								<td>{{TAREA}}</td>
								<td>{{TAREA}}</td>
								<td>{{FECHA}}</td>
								<td>{{ESTADO_TAREA}}</td>
								<td>{{SERVICIO}}</td>
								<td>{{CODIGO}}</td>
								<td>{{GERENCIA}}</td>
								<td>{{AREA}}</td>
								<td>{{SECTOR}}</td>
								<td>{{DETALLE}}</td>
								<td>{{TECNICA}}</td>
								<td>{{ESTADO_EQUIPO}}</td>
								<td>{{OBS_EQUIPO}}</td>
								<td>{{REPUESTOS}}</td>
								<td>{{OBS}}</td>
								<td><center><a href="/protocoloe/{{ TAREA }}" class="btn btn-inline btn-primary btn-sm ladda-button" target="_blank"><i class="fa fa-file-archive-o"></i></a></center></td>	
							</tr>
							{{/each}}
						</tbody>
					{{/ifEquals}}
						{{!-- <tfoot>
								<th style="visibility:hidden"></th>
								<th style="visibility:hidden"></th>
								<th style="visibility:hidden"></th>
								<th></th>
								<th></th>
								<th></th>
								<th style="visibility:hidden"></th>
								<th style="visibility:hidden"></th>
						</tfoot> --}}
					</table>
					</form>
			</div>
		</div>	
	</div>
	<script src="/js/lib/jquery/jquery.min.js"></script>
	<script src="/js/lib/tether/tether.min.js"></script>
	<script src="/js/lib/bootstrap/bootstrap.min.js"></script>
	<script src="/js/plugins.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/lib/datatables-net/datatables.min.js"></script>
	<script src="/js/lib/bootstrap-sweetalert/sweetalert.min.js"></script>
	<script src="/js/lib/summernote/summernote.min.js"></script>
	<script src="/js/lib/fancybox/jquery.fancybox.pack.js"></script>
	<script src="/js/summernote-ES.js"></script>
	<script src="/js/lib/select2/select2.full.min.js"></script>
	<script type="text/javascript" src="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js"></script>
	<script>
		$(document).ready(function () {
			table = $('#tabla_prot').DataTable({
				'columnDefs': [
					{
						'targets': 0,
						'checkboxes': {
							'selectRow': true
						}
					}, 
					{ 
						"targets": [1,2,3,4,5,6,7,8,9,10,11,12], 
						"className": "miClase" 
					},
					{ 	
						"width": "60px", 
						"targets": 2 
					},
					{ 	
						"width": "130px", 
						"targets": 5 
					}
				],
				'select': {
					'style': 'multi'
				},
				"dom": 'Bf<"filters">rtip',
				"searching": true,
				"lengthChange": false,
				"fixedColumns":   {
					"leftColumns": 6//Le indico que deje fijas solo las 2 primeras columnas
				},
				"colReorder": true,
				"buttons": [
				{
					"extend": 'excelHtml5',
					"text": '<i class="fa fa-file-excel-o"></i>',
					"title": 'SAPMA',
					"titleAttr": 'Exportar a Excel',
					"className": 'btn btn-rounded btn-success',
					"exportOptions": {
					"columns": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12,13,14]
					},
					customize: function(xlsx) {
					const sheet = xlsx.xl.worksheets['sheet1.xml'];
						$('row:first c', sheet).attr('s', '47');
            		}
				}],
				initComplete: function() {
				$('.filters').html(`
					<style>
					#parentFilter {
					float: left;
					margin-left: 15px;
					}

					#parentSelect {
					height: 38px;
					width: 100%;
					border: 1px solid rgb(227, 227, 227);
					border-radius: 4px;
					}

					#infoFilter {
					float: left;
					margin-left: 15px;
					}

					#infoSelect {
					height: 38px;
					width: 100%;
					border: 1px solid rgb(227, 227, 227);
					border-radius: 4px;
					}

					#subInfoFilter {
					float: left;
					margin-left: 15px;
					}

					#subInfoSelect {
					height: 38px;
					width: 100%;
					border: 1px solid rgb(227, 227, 227);
					border-radius: 4px;
					}

					@media (max-width: 768px) {
					#parentFilter,
					#infoFilter,
					#subInfoFilter {
						float: none;
						margin-left: 0;
					}

					#parentSelect,
					#infoSelect,
					#subInfoSelect {
						width: 100%;
					}
					</style>			
					<div>
						<div id="parentFilter">
							<select id="parentSelect" width: 50%;>
							</select>
						</div>
						<div id="infoFilter">
							<select id="infoSelect" width: 50%;>
							</select>
						</div>
						<div id="subInfoFilter">
							<select id="subInfoSelect" width: 50%;">
							</select>
						</div>
					</div>
				`);
				},
				"bDestroy": true, 	
				"scrollX": true,
    			"scrollCollapse": true,
				"bInfo": true,
				"iDisplayLength": 20,
				"autoWidth": true,
				"language": {
					"sProcessing": "Procesando...",
					"sLengthMenu": "Mostrar _MENU_ registros",
					"sZeroRecords": "No se encontraron resultados",
					"sEmptyTable": "Ningún dato disponible en esta tabla",
					"sInfo": "Mostrando un total de _TOTAL_ registros",
					"sInfoEmpty": "Mostrando un total de 0 registros",
					"sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
					"sInfoPostFix": "",
					"sSearch": "Buscar:",
					"sUrl": "",
					"sInfoThousands": ".",
					"sLoadingRecords": "Cargando...",
					"oPaginate": {
						"sFirst": "Primero",
						"sLast": "Último",
						"sNext": "Siguiente",
						"sPrevious": "Anterior"
					},
					"oAria": {
						"sSortAscending": ": Activar para ordenar la columna de manera ascendente",
						"sSortDescending": ": Activar para ordenar la columna de manera descendente"
					},
					"select" : {
						"rows" : {
							"_" : "Has seleccionado %d filas",
							"0" : "Click en una fila para seleccionar",
							"1" : "Has seleccionado 1 fila"
						}
					}
				},
			}).on( 'select.dt deselect.dt', function ( e, dt, type, indexes ) {	
				var count = table.rows( { selected: true } ).count();
				if (count > 0) {
					$("#env_val").prop("disabled", false);	
				} else {
					$("#env_val").prop("disabled", true);
				}
				
				if (count === 1) {
					$("#pdfs1").prop("hidden", false);
					$("#pdfs").prop("hidden", true);
				} else if (count > 1) {
					$("#pdfs").prop("hidden", false);
					$("#pdfs1").prop("hidden", true);
				} else {
					$("#pdfs").prop("hidden", true);
					$("#pdfs1").prop("hidden", true);
				}
			}).columns.adjust();

			var parentValues = table.column(6).data().unique();
			parentValues.sort();
			$('#parentFilter select').append('<option value="">Seleccione una gerencia</option>');
			parentValues.each(function(value) {
				$('#parentFilter select').append('<option value="' + value + '">' + value + '</option>');
				table.on('draw.dt', function() {
					table.rows().deselect();
				});
			});
			$('#parentFilter select').on('change', function() {
				var selectedParent = $(this).val();
				if (!selectedParent) {
					table.search('').columns().search('').draw();
					$('#infoFilter select').empty();
					$('#subInfoFilter select').empty();
					return;
				}
				table.column(6).search(selectedParent).draw();
				$('#infoFilter select').empty();
				$('#subInfoFilter select').empty();
				var infoValues = table
					.column(7)
					.data()
					.filter(function(value, index) {
						return table.column(6).data()[index] === selectedParent;
					})
					.unique();
				infoValues.sort();
				$('#infoFilter select').append('<option value="">Selecciones un área</option>');
				infoValues.each(function(value) {
					$('#infoFilter select').append('<option value="' + value + '">' + value + '</option>');
				});
				table.on('draw.dt', function() {
					table.rows().deselect();
				});
			});
			$('#infoFilter select').on('change', function() {
				var selectedInfo = $(this).val();
				if (!selectedInfo) {
					table.column(6).search($('#parentFilter select').val()).draw();
					$('#subInfoFilter select').empty();
					return;
				}
				table.column(7).search(selectedInfo).draw();
				$('#subInfoFilter select').empty();
				var subInfoValues = table
					.column(8)
					.data()
					.filter(function(value, index) {
						return (
							table.column(6).data()[index] === $('#parentFilter select').val() &&
							table.column(7).data()[index] === selectedInfo
						);
					})
					.unique();
				subInfoValues.sort();				
				subInfoValues.each(function(value) {
					$('#subInfoFilter select').append('<option value="' + value + '">' + value + '</option>');
				});
				table.on('draw.dt', function() {
					table.rows().deselect();
				});
			});
			$('#subInfoFilter select').on('change', function() {
				var selectedSubInfo = $(this).val();
				if (!selectedSubInfo) {
					table.column(7).search($('#infoFilter select').val()).draw();
					return;
				}
				table.column(8).search(selectedSubInfo).draw();
				table.on('draw.dt', function() {
					table.rows().deselect();
				});
			});

			var date1 = document.querySelector('#date1');
			var date2 = document.querySelector('#date2');

			date1.addEventListener('change', function() {
				date2.min = this.value;
			});
			var count = table.rows( { selected: true } ).count();
			
			$("#pdfs").on("click", function () {
				var rows_selected = table.rows({selected: true}).data();
				var idpdf = [];
				var codigo = [];
				$.each(rows_selected, function (index, value) {
					idpdf.push(value[0]);
				});

				$.each(rows_selected, function (index, value) {
					codigo.push(value[5]);
				});

				$.ajax({
					url: "/pdfs",
					type: "POST",
					data: {
						idpdf,
						codigo
					},
					beforeSend: function() {
						swal({
						title: "Generando PDFs",
						text: "Espere un momento por favor...",
						imageUrl:"/img/Spinner-1s-200px2.gif",
						showConfirmButton: false,
						allowOutsideClick: false
						});
					}
					}).done(function (data) {
					swal({
						title: "PDFs Generados",
						text: "Se han agregado los PDFs a un archivo comprimido",
						type: "success",
						confirmButtonText: "Aceptar",
						allowOutsideClick: false
					}, function (isConfirm) {
						if (isConfirm) {
						window.location.href = "/archivo";
						}
					});
					});

				});
				$("#pdfs1").on("click", function () {
					var rows_selected = table.rows({selected: true}).data();
					var idpdf = [];
					var codigo= [];
					$.each(rows_selected, function (index, value) {
						idpdf.push(value[0]);
					});

					$.each(rows_selected, function (index, value) {
						codigo.push(value[5]);
					});
						window.location.href = "/archivo/" + idpdf + "/" + codigo;		
				});
		});
		

    </script>
</body>