<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<style>
		body {
				margin-top: 10px;
				margin-bottom: 25px;
				margin-left: 15px;
				margin-right: 15px;
			}
			
			a {
				text-decoration: none;
			}
			.site-header { 
				border-bottom: 1px solid rgb(227, 227, 227);
				padding: .5em 1em;
				font-family: Verdana, Geneva, Tahoma, sans-serif;

			}

			.site-header::after {
				content: "";
				display: table;
				clear: both;
			}

			.site-identity h6 {
				
				font-size: 14px;
				}

			.site-identity img {
				max-width: 220px;
				float: left;
				padding-right: 5px;
				margin: auto;
			}

			.text_header{
				line-height: 10px;
				float:right; 
				border-left: 1px solid rgb(227, 227, 227);
			}

			.text_header h6{
				color: #2b2d42;
				font-size: 10px;
				margin: 0 0 0 5px;
				display: inline-block;
			}

			.text_header label{
				font-size: 10px;
				margin: 0 0 0 5px;
				display: inline-block;
			}

			.doc-titulo{
				
				margin-bottom: 5px;
			}

			.doc-titulo h5{
				color: #2b2d42;
				font-size: 10px;
				font-weight: bold;
				font-family: Verdana, Geneva, Tahoma, sans-serif;
				border-bottom: 1px solid rgb(227, 227, 227);
				margin-bottom: 8px;
			}

			.descripcion{
				line-height: 10px;
			}	

			.descripcion label{
				font-size: 10px;
				font-family: Verdana, Geneva, Tahoma, sans-serif;

			}

			.descripcion h6{
				color: #2b2d42;
				font-size: 10px;
				font-family: Verdana, Geneva, Tahoma, sans-serif;
				font-weight: bold;
				display: inline;
			}
			.imgti h6{
				color: #2b2d42;
				font-size: 10px;
				font-family: Verdana, Geneva, Tahoma, sans-serif;
				font-weight: bold;
				display: inline;
			}
	</style>
</head>
<body>
	<header class="site-header">
		<div class="site-identity">
			<a href="#"><img src="{{ img }}" alt="Sapma" /></a>
		</div>
		<div class="text_header">	
			<h6>TAREA Nº: {{IDT}} / {{TR_PROT_DESC_TAREATIPO}}</h6><br><br>
			<h6>Equipo: </h6><label>{{TR_EQUIPO_COD}}</label><br>
			<h6>Gerencia: </h6><label>{{TR_GERENCIA}}</label><br>
			<h6>Area: </h6><label>{{TR_AREA}}</label><br>
			<h6>Sector: </h6><label>{{TR_SECTOR}}</label><br>
			<h6>Estado: </h6><label>{{TR_ESTADO}}</label>
		</div> 
	</header>
	<br><br>
		{{#group prot by="TR_PROT_DESC_CAPI"}}
			<div class="doc-titulo">
				<h5>{{value}}</h5>
			</div>
		{{#each items}}
			<div class="descripcion">
				<h6>{{ TR_PROT_CAPTURA}}  :</h6><label>{{TR_RESPUESTA}}</label>		
			</div>	
		{{/each}}	
		{{/group}}	
		{{#each imagenes }}
		<br>
			<div class="imgti">
				<h6>Adjunto {{incitement @index}}</h6>
			</div>
			<div>
				<img src="{{this}}" alt="imagenes" width="250" height="250">
			</div>
		{{/each }}
</body>
</html>